<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH.Properties.Settings.QLBANHANGConnectionString"
            connectionString="Data Source=TRANTHANH\SQLEXPRESS;Initial Catalog=QLBANHANG;Persist Security Info=True;User ID=quanlybanhang;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>